/.idea
/node_modules
.env
package-lock.json
package.json
users.json
WatOx_utility.glb
watox.png
institutions.json
*.json
!defence_base.json
!patriots.json
/generated_models
/worker_images
chatLogs.json
defence_base.json
institutions.json
users.json
!referendums.json
earthquake.png
dangerousChemicals.png
earthquake.png
humidity.png
radioactiveMaterials.png
rareMinerals.png
soilSoftness.png
temperature.png
uv.png
